# Green Score Predictor - Requirements

This project requires the following dependencies:

- **streamlit**: For building the interactive web app.
- **pandas**: For data handling and displaying results in tables.
- **codecarbon**: For calculating carbon emissions related to machine learning model training.

### Installation

To install the necessary dependencies, run the following:

```bash
pip install -r requirements.txt
